{{#if data.flags.locked}}
    <table class="hitlocations-table" border="2">
    <thead class="hitlocations-thead">
        <tr>
            <th>{{localize "RQG.HitLocations"}}</th>
            <th>{{localize "RQG.RANGE"}}</th>
            <th>{{localize "RQG.HP"}}</th>
            <th>{{localize "RQG.AP"}}</th>
            <th>{{localize "RQG.WDS"}}</th>
        </tr>
    </thead>
    <tbody>
    {{#each data.hitlocations as |hl id|}}
        <tr class="item" data-itemid="{{hl._id}}">
            <td>{{localize hl.name}}</td>
            <td>{{hl.data.data.rangestart}}-{{hl.data.data.rangeend}}</td>
            <td>{{hl.data.data.currenthp}}/{{hl.data.data.maxhp}}</td>
            <td>{{hl.data.data.armor}}</td>
            <td><input id="{{hl._id}}_wounds" class="attribute-input hitloc-wounds"  type="text"  name="data.wounds"  value="{{hl.data.data.wounds}}"  data-dtype="Number"  /></td>
        </tr>        
    {{/each}}
    </tbody>
    </table>
{{else}}
    <!--
    <div class="item-controls">
        <select name="data.attributes.hitlocationstype">
            {{#select data.attributes.hitlocationstype}}
            {{#each config.hitlocationstypes as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
        </select>  
        <a class="item-control item-create" title="Create item" data-type="hitlocation"><i class="fas fa-plus"></i></a>
    </div>
    -->
    <table  class="hitlocations-table" border="2">
    <thead>
        <th>{{localize "RQG.HitLocations"}}</th>
        <th>{{localize "RQG.RANGE"}}</th>
        <th>{{localize "RQG.HP"}}</th>
        <th>{{localize "RQG.MAXHITPOINTS"}}</th>
        <th>{{localize "RQG.ARMOR"}}</th>
        <th colspan="2">{{localize "RQG.WOUNDS"}}</th>
    </thead>
    <tbody>                
    {{#each data.hitlocations as |hl id|}}
        <tr style="height: 28px;" class="item" data-item-id="{{hl._id}}">
            <td>{{localize hl.name}}</td>
            <td>{{hl.data.data.rangestart}}-{{hl.data.data.rangeend}}</td>
            <td>{{hl.data.data.currenthp}}</td>
            <td>{{hl.data.data.maxhp}}</td>
            <td><input id="{{hl._id}}_armor" class="attribute-value hitloc-armor"  type="text"  name="data.armor"  value="{{hl.data.data.armor}}"  data-dtype="Number"  /></td>
            <td><input id="{{hl._id}}_wounds" class="hitloc-wounds"  type="text"  name="data.wounds"  value="{{hl.data.data.wounds}}"  data-dtype="Number"  /></td>
            <td class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </td>                
        </tr>        
    {{/each}}
    </tbody>
    </table>
{{/if}}

