<table class="skillcategory" data-skillcategory="{{skillcat}}">
    <thead class="skill-thead">
        <tr>
            <th colspan="2">{{skillcat}}: {{skillcategorymodifier @root.data.skillcategory skillcat}}</th>
            <th>
                <a class="item-control item-create" title="Create item" data-type="skill" data-skillcategory="{{skillcat}}"><i class="fas fa-plus"></i></a>
            </th>
        </tr>
    </thead>
    {{#each skillList as |item id|}}
        <tr class="skill skill-row" data-item-id="{{item._id}}" data-itemid="{{item._id}}">
            <td class="item" data-item-id="{{item._id}}"><input class="skill-experience experience-box" id="{{id}}_{{item._id}}_experience_skill" type="checkbox" name="data.experience" {{checked item.data.data.experience}}/></td>                         
            <td class="item" data-item-id="{{item._id}}"><a class="skill-roll skill-menu" data-itemid="{{item._id}}" data-skillname="{{item.name}}" data-skillcategory="{{item.data.data.skillcategory}}">{{item.name}} ({{item.data.data.base}})</a></td>
            <td class="item" data-item-id="{{item._id}}"><a class="skill-roll skill-menu" data-itemid="{{item._id}}" data-skillname="{{item.name}}" data-skillcategory="{{item.data.data.skillcategory}}">{{item.data.data.total}}</a></td>
        </tr>
    {{/each}}
</table>