<div class="summary-row flexrow">
    {{!-- Runes --}}
    {{#if data.flags.locked}}
    <div class="elemental-rune-grid-container">
        {{#each data.elementalrunes as |elementalrune id|}}
        <img class="elemental-rune-{{id}} elemental-rune" data-rune="{{id}}" src="/systems/runequest/styles/img/{{id}}.png" title="{{localize elementalrune.label}}" alt="{{localize elementalrune.label}}"/>       
        <div class="elemental-rune elemental-rune-{{id}}-value" data-rune="{{id}}">
            <span><a class="elementalrunes-roll rollable" data-rune="{{id}}">{{elementalrune.value}}</a></span>         
        </div>
        {{/each}}
    </div>
    <div class="power-rune-grid-container">
        {{#each data.powerrunes as |powerrunepair pairid|}}
            {{#each powerrunepair as |powerrune runeid|}}
                <img class="elemental-rune power-rune-{{runeid}}" src="systems/runequest/styles/img/{{runeid}}.png" title="{{localize powerrune.label}}" alt="{{localize powerrune.label}}"/> 
                <div class="elemental-rune power-rune-{{runeid}}-value" data-runepair="{{pairid}}">
                    <a class="powerrunes-roll" data-rune="{{runeid}}">{{powerrune.value}}</a>
                </div>            
            {{/each}}
        {{/each}}
    </div>
    {{else}}
    <div  class="summary-runes-list flexrow">
        <table>
            <tbody>
                {{#each data.elementalrunes as |elementalrune id|}}
                    <tr class="elemental-rune" data-rune="{{id}}">
                        <td class="elemental-rune" colspan="2">
                            <a class="elementalrunes-roll rollable">{{localize elementalrune.label}}</a>
                        </td>
                        <td class="elemental-rune" >
                            <div  class="attribute-editbox">
                                <input  class="attribute-value"  type="text"  name="data.elementalrunes.{{id}}.value"  value="{{elementalrune.value}}"  data-dtype="Number"  />
                            </div>
                        </td>
                    </tr>
                {{/each}}
                {{#each data.powerrunes as |powerrunepair pairid|}}
                    <tr data-runepair="{{pairid}}">
                    {{#each powerrunepair as |powerrune runeid|}}
                        <td class="elemental-rune" >
                            <a class="powerrunes-roll" data-rune="{{runeid}}">{{localize powerrune.label}}</a>
                        </td>
                        <td class="elemental-rune" >
                            <div  class="attribute-editbox">
                                <input  class="attribute-value"  type="text"  name="data.powerrunes.{{pairid}}.{{runeid}}.value"  value="{{powerrune.value}}"  data-dtype="Number"  />
                            </div>
                        </td>
                    {{/each}}
                    </li>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/if}}
    <div class="summary-runes-list flexrow">
        <ol class="skills-list">
            <table  class="character-passion-table" >
                <thead>
                    <th colspan = "5">{{localize "RQG.Passions"}}</th>
                    <th><a class="item-control item-create" title="Create item" data-type="passion"><i class="fas fa-plus"></i></a></th>
                </thead>
                <tbody>
                    {{#each data.passions as |passion id|}}
                    <tr class="item" data-item-id="{{passion._id}}" data-passionname="{{passion.name}}">
                        <td class="summary-passion-label"><a class="passion-roll" data-item-id="{{passion._id}}">{{passion.name}}</a></td>
                        <td class="summary-passion-value"><a class="passion-roll" data-item-id="{{passion._id}}">{{passion.data.data.total}}</a></td>
                        <td class="item summary-passion-check" data-item-id="{{passion._id}}"><input class="passion-experience" id="{{id}}_{{passion._id}}_passion_skill" type="checkbox" name="data.experience" {{checked passion.data.data.experience}}/></td>                         
                        <td class="item-controls summary-passion-button">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </td>                        
                    </tr>                
                    {{/each}}
                </tbody>
                </table>
        </ol>
    </div>
</div>