{{!-- Hitlocations and Runes row --}}
<div class="summary-row flexrow">
    {{!-- Runes --}}
    <div  class="summary-runes-list flexrow">
        <table>
            <tbody>
                {{#each data.elementalrunes as |elementalrune id|}}
                    <tr class="elemental-rune" data-rune="{{id}}">
                        <td class="elemental-rune" colspan="2"><a class="elementalrunes-roll rollable">{{localize elementalrune.label}}: {{elementalrune.value}}</a><input class="rune-experience" id="{{id}}_{{elementalrune._id}}_rune_experience" type="checkbox" name="data.elementalrunes.{{id}}.experience" {{checked elementalrune.experience}}/></td>
                    </tr>
                {{/each}}
                {{#each data.powerrunes as |powerrunepair pairid|}}
                    <tr data-runepair="{{pairid}}">
                    {{#each powerrunepair as |powerrune runeid|}}
                        <td>
                            <a class="powerrunes-roll" data-rune="{{runeid}}">{{localize powerrune.label}}: {{powerrune.value}}</a>
                            <input class="rune-experience" id="{{id}}_{{powerrune._id}}_rune_experience" type="checkbox" name="data.powerrunes.{{pairid}}.{{runeid}}.experience" {{checked powerrune.experience}}/>
                        </td>
                    {{/each}}
                    </li>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="summary-row flexrow">
    <div class="summary-runes-list flexrow">
        <ol class="skills-list">
            <table>
                <thead>
                    <th colspan = "5">{{localize "RQG.Passions"}}</th>
                    <th><a class="item-control item-create" title="Create item" data-type="passion"><i class="fas fa-plus"></i></a></th>
                </thead>
                <tbody>
                    {{#each data.passions as |passion id|}}
                    <tr class="item flexrow" data-item-id="{{passion._id}}" data-passionname="{{passion.name}}">
                        <td class="summary-passion-label"><a class="passion-roll" data-item-id="{{passion._id}}">{{passion.name}}</a></td>
                        <td class="summary-passion-value"><a class="passion-roll" data-item-id="{{passion._id}}">{{passion.data.data.total}}</a></td>
                        <td class="item summary-passion-check" data-itemid="{{passion._id}}"><input class="passion-experience" id="{{id}}_{{passion._id}}_passion_skill" type="checkbox" name="data.experience" {{checked passion.data.data.experience}}/></td>                         
                        <td class="item-controls summary-passion-button">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </td>                        
                    </tr>                
                    {{/each}}
                </tbody>
                </table>
        </ol>        
    </div>  
    <div class="summary-runes-list flexrow">
        <div class="skills-list">
            {{!-- Defense --}}
            <table>
                <thead>
                    <th>{{localize "RQG.Defense"}}</th>
                </thead>
                <tbody>
                {{#each data.defense as |item id|}}
                    <tr>
                        <td class="skill summary-skill-roll" data-itemid="{{item._id}}" data-skillname="{{item.name}}" data-skillcategory="{{item.data.skillcategory}}">
                            {{item.name}}: {{item.data.data.total}}                     
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <!--
    <div class="summary-runes-list flexrow">
        <ol class="skills-list">
            <table data-type="rune">
                    <thead>
                        <th colspan="8">{{localize "RQG.Runes"}}</th>
                        <th colspan="2"><a class="item-control item-create" title="Create item" data-type="rune"><i class="fas fa-plus"></i></a></th>
                    </thead>
                    <tbody>
                        <tr class="attack-type-name">
                            <td class="attack-type-name" colspan="10">{{localize "RQG.ELEMENTAL"}}</td>                  
                        </tr>
                        {{#each data.runes.elemental as |rune id|}}
                        <tr class="item flexrow" data-item-id="{{rune._id}}" data-passionname="{{rune.name}}">
                            <td class="summary-attack-label"  colspan="5"><a class="rune-roll" data-item-id="{{rune._id}}">{{rune.name}}</a></td>
                            <td class="summary-attack-value" colspan="1"><a class="rune-roll" data-item-id="{{rune._id}}">{{rune.data.data.total}}</a></td>
                            <td class="item" data-itemid="{{rune._id}}"><input class="rune-experience" id="{{id}}_{{rune._id}}_rune_skill" type="checkbox" name="data.experience" {{checked rune.data.data.experience}}/></td>                         
                            <td class="item-controls" colspan="2">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </td>                        
                        </tr>
                        {{/each}}
                        <tr class="attack-type-name">
                            <th class="attack-type-name" colspan="10">{{localize "RQG.POWER"}} / {{localize "RQG.FORM"}}</th>                  
                        </tr>
                        {{#each data.runes.power as |rune id|}}
                        <tr class="item flexrow" data-item-id="{{rune._id}}" data-passionname="{{rune.name}}">
                            <td class="summary-attack-label"  colspan="5"><a class="rune-roll" data-item-id="{{rune._id}}">{{rune.name}}</a></td>
                            <td class="summary-attack-value" colspan="1"><a class="rune-roll" data-item-id="{{rune._id}}">{{rune.data.data.total}}</a></td>
                            <td class="item" data-itemid="{{rune._id}}"><input class="rune-experience" id="{{id}}_{{rune._id}}_rune_skill" type="checkbox" name="data.experience" {{checked rune.data.data.experience}}/></td>                         
                            <td class="item-controls" colspan="2">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </td>                        
                        </tr>
                        {{/each}}
                        <tr class="attack-type-name">
                            <th class="attack-type-name" colspan="10">{{localize "RQG.FORM"}}</th>                  
                        </tr>
                        {{#each data.runes.form as |rune id|}}
                        <tr class="item flexrow" data-item-id="{{rune._id}}" data-passionname="{{rune.name}}">
                            <td class="summary-attack-label"  colspan="5"><a class="rune-roll" data-item-id="{{rune._id}}">{{rune.name}}</a></td>
                            <td class="summary-attack-value" colspan="1"><a class="rune-roll" data-item-id="{{rune._id}}">{{rune.data.data.total}}</a></td>
                            <td class="item" data-itemid="{{rune._id}}"><input class="rune-experience" id="{{id}}_{{rune._id}}_rune_skill" type="checkbox" name="data.experience" {{checked rune.data.data.experience}}/></td>                         
                            <td class="item-controls" colspan="2">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </td>                        
                        </tr>
                        {{/each}}                       
                        <tr class="attack-type-name">
                            <th class="attack-type-name" colspan="10">{{localize "RQG.CONDITION"}}</th>                  
                        </tr>
                        {{#each data.runes.condition as |rune id|}}
                        <tr class="item flexrow" data-item-id="{{rune._id}}" data-passionname="{{rune.name}}">
                            <td class="summary-attack-label"  colspan="5"><a class="rune-roll" data-item-id="{{rune._id}}">{{rune.name}}</a></td>
                            <td class="summary-attack-value" colspan="1"><a class="rune-roll" data-item-id="{{rune._id}}">{{rune.data.data.total}}</a></td>
                            <td class="item" data-itemid="{{rune._id}}"><input class="rune-experience" id="{{id}}_{{rune._id}}_rune_skill" type="checkbox" name="data.experience" {{checked rune.data.data.experience}}/></td>                         
                            <td class="item-controls" colspan="2">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </td>                        
                        </tr>
                        {{/each}}
                        <tr class="attack-type-name">
                            <th class="attack-type-name" colspan="10">{{localize "RQG.OTHERS"}}</th>                  
                        </tr>
                        {{#each data.runes.others as |rune id|}}
                        <tr class="item flexrow" data-item-id="{{rune._id}}" data-passionname="{{rune.name}}">
                            <td class="summary-attack-label"  colspan="5"><a class="rune-roll" data-item-id="{{rune._id}}">{{rune.name}}</a></td>
                            <td class="summary-attack-value" colspan="1"><a class="rune-roll" data-item-id="{{rune._id}}">{{rune.data.data.total}}</a></td>
                            <td class="item" data-itemid="{{rune._id}}"><input class="rune-experience" id="{{id}}_{{rune._id}}_rune_skill" type="checkbox" name="data.experience" {{checked rune.data.data.experience}}/></td>                         
                            <td class="item-controls" colspan="2">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </td>                        
                        </tr>
                        {{/each}}                                           
                    </tbody>
            </table>   
        </ol>
    </div>
    -->          
</div>
{{> "systems/runequest/templates/actor/parts/character/actor-partial-attacks.html" attacks=data.attacks.melee attacktype="melee" attacklabel="RQG.MeleeAttacks"}}
{{> "systems/runequest/templates/actor/parts/character/actor-partial-attacks.html" attacks=data.attacks.missile  attacktype="missile" attacklabel="RQG.MissileAttacks"}}
{{> "systems/runequest/templates/actor/parts/character/actor-partial-attacks.html" attacks=data.attacks.natural attacktype="natural" attacklabel="RQG.NaturalAttacks"}}
