{{!-- Defenses --}}
<div class="summary-row flexrow">
    <div class="summary-runes-list flexrow">
        <ol class="skills-list">
            {{!-- Defense --}}
            <table class="combat-defense-table" border="2">
                <thead class="combat-table-header">
                    <th class="combat-table-thead" colspan="{{data.defense.length}}">{{localize "RQG.Defense"}}</th>
                </thead>
                <tbody class="item-list">
                    <tr class="item-list">
                    {{#each data.defense as |item id|}}
                        <td class="item skill summary-skill-roll combat-defense-field" data-itemid="{{item._id}}" data-skillname="{{item.name}}" data-skillcategory="{{item.data.skillcategory}}">
                            {{item.name}}: {{item.data.data.total}}                     
                        </td>
                    {{/each}}
                    </tr>
                </tbody>
            </table>
        </ol>
    </div>
</div>
{{!-- Hit Locations --}}
<div class="summary-row flexrow">          
    <div class="skill-category">
        {{> "systems/runequest/templates/actor/parts/character/actor-partial-hitlocations.html"}}
    </div>
</div>
{{> "systems/runequest/templates/actor/parts/character/actor-partial-attacks.html" attacks=data.attacks.melee attacktype="melee" attacklabel="RQG.MeleeAttacks"}}
{{> "systems/runequest/templates/actor/parts/character/actor-partial-attacks.html" attacks=data.attacks.missile  attacktype="missile" attacklabel="RQG.MissileAttacks"}}
{{> "systems/runequest/templates/actor/parts/character/actor-partial-attacks.html" attacks=data.attacks.natural attacktype="natural" attacklabel="RQG.NaturalAttacks"}}
{{> "systems/runequest/templates/actor/parts/character/actor-partial-attacks.html" attacks=data.attacks.spirit attacktype="spirit" attacklabel="RQG.SpiritCombatAttacks"}}

