<form class="{{cssClass}}" autocomplete="off">
    <style>
        :root {
            --main-text-color: {{getGameSetting "generalTextColor"}};
            --main-text-font: {{getGameSetting "generalTextFont"}};
        }
    </style>      
    {{!-- Sheet Header --}}
    {{> "systems/runequest/templates/actor/parts/npc/npc-sheetheader.html"}}

    {{!-- Sheet Tab Navigation --}}
    <nav class="nav-sheet-tabs sheet-tabs tabs flexrow" data-group="primary">
        {{#if data.flags.locked}}
            <a class="unlock-character-sheet" title="{{localize 'RQG.UnlockSheet'}}"> <i class="fas fa-lock"></i> </a>
        {{else}}
            <a class="unlock-character-sheet" title="{{localize 'RQG.LockSheet'}}"> <i class="fas fa-lock-open"></i></a>
        {{/if}}
        <a class="item actor-item" data-tab="summary">{{localize 'RQG.MainTab'}}</a>
        <a class="item actor-item" data-tab="items">{{localize 'RQG.Items'}}</a>  
        <a class="item actor-item" data-tab="activeeffects">Effects</a></nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body section-padding" style="grid-area:main;">
        {{!-- Summary Tab --}}
        <div  class="tab summary"  data-group="primary"  data-tab="summary">
            {{> "systems/runequest/templates/actor/parts/npc/npc-summary.html"}}
        </div> 
        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            {{> "systems/runequest/templates/actor/parts/character/actor-inventory.html"}}
        </div>
        {{!-- Active Effects Tab --}}
        <div class="tab activeeffects" data-group="primary" data-tab="activeeffects">
            {{> "systems/runequest/templates/actor/parts/actor-activeeffectsv2.html"}}
        </div>

    </section>
</form>

