{{!-- Spirit Spells --}}
<ol class="skills-list">          
    <div class="skill-category" data-spelltype="spirit">
        <li class="item flexrow item-header">
            <div class="item-name">{{localize 'RQG.SpiritSpell'}}</div>
            <div class="item-controls">
                <a class="item-control item-create" title="Create item" data-type="spiritspell"><i class="fas fa-plus"></i></a>
            </div>
        </li>
        {{#each data.spells.spirit as |spell id|}}
            <li class="item flexrow" data-item-id="{{spell._id}}" data-spellname="{{spell.name}}">
                <h4 class="item-name"><a class="spiritspell-roll" data-item-id="{{spell._id}}">{{spell.name}}</a></h4>
                <h4 class="item-name"><a class="spiritspell-roll" data-item-id="{{spell._id}}">{{spell.data.mpcost}}</a></h4>
                <a class="spell-toggle" title="Toggle"><i class="fas {{#if spell.data.data.active}}fa-times{{else}}fa-check{{/if}}"></i></a>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
        {{/each}}
    </div>
</ol>
{{!-- Rune Spells --}}
<ol class="skills-list">          
    <div class="skill-category" data-spelltype="rune">
        <li class="item flexrow item-header">
            <div class="item-name">{{localize 'RQG.RuneSpell'}}</div>
            <div class="item-controls">
                <a class="item-control item-create" title="Create item" data-type="runespell"><i class="fas fa-plus"></i></a>
            </div>
        </li>
        {{#each data.spells.rune as |spell id|}}
            <li class="item flexrow" data-item-id="{{spell._id}}" data-spellname="{{spell.name}}" data-rune="{{spell.data.data.rune}}">
                <h4 class="item-name"><a class="runespell-roll">{{spell.name}}</a></h4>
                <h4 class="item-name"><a class="runespell-roll">{{spell.data.data.points}}</a></h4>
                <h4 class="item-name"><a class="runespell-roll"><span class="runefont">{{spell.data.data.rune}}</span></a></h4>
                <a class="spell-toggle" title="Toggle"><i class="fas {{#if spell.data.data.active}}fa-times{{else}}fa-check{{/if}}"></i></a>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
        {{/each}}
    </div>
</ol>

