<div class="runequest chat-card skill-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}"
     {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header">
        <img src="{{item.parent.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}}</h3>
    </header>
    <div class="card-content">
        <table>
            <thead>
                <th>{{item.type}}</th>
                <th>{{localize "RQG.Roll"}}</th>
                <th>{{localize "RQG.Target"}}</th>
                <th>{{localize "RQG.Result"}}</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{item.name}}</td>
                    <td>[[{{attackroll.total}}]]</td>
                    <td>[[{{attackskill}}]]</td>
                    <td>{{attackresult}}</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <th>{{localize "RQG.Defense"}}</th>
                <th>{{localize "RQG.Roll"}}</th>
                <th>{{localize "RQG.Target"}}</th>
                <th>{{localize "RQG.Result"}}</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{targetdefense.data.name}}</td>
                    <td>[[{{defenseroll.total}}]]</td>
                    <td>[[{{defenseskill}}]]</td>
                    <td>{{defenseresult}}</td>
                </tr>
            </tbody>
        </table>
        <span>Result: {{result}}</span>        
        {{log damageData}}
        {{#if isFumble}}
            <h3>Make a roll on the Fumble list</h3>
        {{else}}
            {{#if isFailure}}
            <h3>Failed</h3>
            {{else}}
                <h3>{{localize "RQG.Damage"}}</h3>
                <table>
                    <tbody>
                            <tr>
                                <td>{{localize "RQG.Weapon"}}</td>
                                <td>{{item.name}}</td></tr>
                            <tr>
                                <td>{{localize "RQG.Weapon_damage"}}</td>
                                <td>
                                {{#if isCritical}}
                                    [[{{damageData.criticaldamage._total}}]]
                                {{else}}
                                    {{#if isSpecial}}
                                        [[{{damageData.specialdamage._total}}]]
                                    {{else}}
                                        {{!-- This is a success --}}
                                        [[{{damageData.damage._total}}]]
                                    {{/if}}
                                {{/if}}      
                                </td>
                            </tr>
                            <tr><td>{{localize "RQG.Damage_Bonus"}}</td><td>[[{{damageData.damagebonus._total}}]]</td></tr>
                            <tr><td>{{localize "RQG.Total_damage"}}</td><td>[[{{damageData.totaldamage}}]]</td></tr>
                    </tbody>
                </table>
                <div class="card-content">
                    Localization: {{hitlocation}}
                </div>
            {{/if}}
        {{/if}}
    </div>


    <footer class="card-footer">
    </footer>
</div>