<div class="chat-card attack" data-item-id="{{_id}}" data-owner-id="{{owner}}">
    <div class="card-content">
        <p>{{data.description}}</p>
    </div>
    <div class="card-button">
        <button class="attack">{{localize "RQG.Attack"}}</button>
        <button class="parry">{{localize "RQG.Parry"}}</button>
    </div>    
</div>