<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="details">Details</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item actor-item" data-tab="activeeffects">Effects</a>        
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Attributes Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <div class="form-group">
                <label class="label-text">{{localize "Points"}}</label>
                <input  class="attribute-value"  type="text"  name="data.points"  value="{{data.points}}"  data-dtype="Number"  />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "Rune"}}</label>
                <input  class="attribute-value"  type="text"  name="data.rune"  value="{{data.rune}}"  data-dtype="String"  />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "Range"}}</label>
                <input  class="attribute-value"  type="text"  name="data.range"  value="{{data.range}}"  data-dtype="String"  />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "Duration"}}</label>
                <input  class="attribute-value"  type="text"  name="data.duration"  value="{{data.duration}}"  data-dtype="String"  />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "Type"}}</label>
                <input  class="attribute-value"  type="text"  name="data.type"  value="{{data.type}}"  data-dtype="String"  />
            </div>            
        </div>
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description.description.value target="data.description.description.value" button=true owner=owner editable=editable}}
        </div>
        {{!-- Active Effects Tab --}}
        <div class="tab activeeffects" data-group="primary" data-tab="activeeffects">
            {{> "systems/runequest/templates/actor/parts/actor-activeeffectsv2.html"}}
        </div>
    </section>
</form>
